# Created by https://www.toptal.com/developers/gitignore/api/mplabx
# Edit at https://www.toptal.com/developers/gitignore?templates=mplabx

### MPLabX ###
#Ignore List for Microchips MPLabX IDE
#Form of netbeans with vendor specific changes
#Taken from zeha on GIST https://gist.github.com/zeha/5999375

*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
Hela.X/html/
Hela.X/nbproject/private/
Hela.X/nbproject/Package-*.bash
Hela.X/build/
Hela.X/nbbuild/
Hela.X/dist/
Hela.X/nbdist/
Hela.X/nbactions.xml
Hela.X/nb-configuration.xml
Hela.X/funclist
Hela.X/nbproject/Makefile-*
Hela.X/disassembly/
*.map

# End of https://www.toptal.com/developers/gitignore/api/mplabx